@font-face {
    font-family: 'PoetsenOne';
    /*a name to be used later*/
    src: url('../font/PoetsenOne-Regular.otf');
    /*URL to font*/
}

html,
body {
    height: 100%;
    min-height: 100%;
    margin: 0px;
    font-family: Arial;
}

header {
    font-family: PoetsenOne;
    width: 100%;
    height: 100px;
    position: fixed;
    /*background-color: #3399FF;*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,207cca+0,2989d8+37,7db9e8+100 */
    background: #1e5799;
    /* Old browsers */
    background: -moz-linear-gradient(top, #1e5799 0%, #207cca 0%, #2989d8 37%, #7db9e8 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(0%, #207cca), color-stop(37%, #2989d8), color-stop(100%, #7db9e8));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #1e5799 0%, #207cca 0%, #2989d8 37%, #7db9e8 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #1e5799 0%, #207cca 0%, #2989d8 37%, #7db9e8 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #1e5799 0%, #207cca 0%, #2989d8 37%, #7db9e8 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #1e5799 0%, #207cca 0%, #2989d8 37%, #7db9e8 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=0);
    /* IE6-9 */
}

header td.active a {
    color: black;
}

header table {
    margin-left: 22.5%;
    width: 55%;
    margin-top: 36px;
}

header span {
    font-family: PoetsenOne;
    color: white;
    font-size: 49px;
    margin-left: 60px;
    font-weight: bold;
    padding: 14px 10px;
}

header a {
    color: #CCCCCE;
    font-size: 30px;
    font-weight: bold;
    margin-right: 155px;
    text-transform: uppercase;
    text-decoration: none;
}

header a:link,
header a:visited,
header a:hover,
header a:active {
    text-decoration: none;
}

.footer {
    width: 100%;
    height: 125px;
    background-color: #f9f9f9;
    color: black;
    font-weight: bold;
    font-family: Arial;
    position: relative;
    clear: both;
    right: 0;
    bottom: 0;
    left: 0;
}

.footer-mid-left {
    margin-left: 22.5%;
    width: 19%;
    float: left;
}

.footer-mid-mid {
    width: 22%;
    float: left;
}

.footer-mid-right {
    width: 13.3%;
    float: left
}

.ubber-footer {
    padding-top: 25px;
}

.left {
    margin-top: 37px;
    float: left;
    width: 22.5%;
}

main {
    float: left;
    width: 55%;
}

.right {
    float: right;
    width: 22.5%;
}

section.left {
    margin-top: 100px;
    min-height: 100%;
}

section.right {
    margin-top: 100px;
    min-height: 100%;
}

main {
    margin-top: 100px;
    min-height: 100%;
    /*background: linear-gradient(to bottom,#f6f6f6 60%, #3399FF );*/
}

.mid {
    min-height: 100%;
    margin-bottom: -125px;
}

.img {
    width: 40%;
}

.img-follow {
    margin-top: 4%;
    width: 12%;
}

.submit-button {
    /*background-color: #3399FF;*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,207cca+0,2989d8+37,7db9e8+100 */
    background: #1e5799;
    /* Old browsers */
    background: -moz-linear-gradient(top, #1e5799 0%, #207cca 0%, #2989d8 37%, #7db9e8 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(0%, #207cca), color-stop(37%, #2989d8), color-stop(100%, #7db9e8));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #1e5799 0%, #207cca 0%, #2989d8 37%, #7db9e8 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #1e5799 0%, #207cca 0%, #2989d8 37%, #7db9e8 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #1e5799 0%, #207cca 0%, #2989d8 37%, #7db9e8 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #1e5799 0%, #207cca 0%, #2989d8 37%, #7db9e8 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=0);
    /* IE6-9 */
    color: #DBDBE2;
    font-size: 20px;
    font-weight: bold;
    width: 176px;
    height: 60px;
    margin-left: 5.5%;
    margin-right: 5%;
}

.input-search {
    margin-top: 0px;
    margin-left: 4%;
    margin-right: 10%;
    width: 51%;
    font-size: 25px !important;
    font-weight: bold;
    height: 45px !important;
}

.form-search {
    margin-top: 10%;
}